:root {
  --primary-50: #ECEFF1;
  --primary-100: #CFD8DC;
  --primary-200: #B0BEC5;
  --primary-300: #90A4AE;
  --primary-400: #78909C;
  --primary-500: #607D8B;
  --primary-600: #546E7A;
  --primary-700: #455A64;
  --primary-800: #37474F;
  --primary-900: #263238;
  --primary-950: #171e21;

  --secondary-50: #e6f6ef;
  --secondary-100: #c2e8d8;
  --secondary-200: #9ad9bf;
  --secondary-300: #6ecba6;
  --secondary-400: #49c094;
  --secondary-500: #14b481;
  --secondary-600: #0ea575;
  --secondary-700: #089267;
  --secondary-800: #09815a;
  --secondary-900: #0d6144;
  --secondary-950: #03462e;
  --secondary-990: #001f14;

  --purple-50: #F3E5F5;
  --purple-100: #E1BEE7;
  --purple-200: #CE93D8;
  --purple-300: #BA68C8;
  --purple-400: #AB47BC;
  --purple-500: #9C27B0;
  --purple-600: #8E24AA;
  --purple-700: #7B1FA2;
  --purple-800: #6A1B9A;
  --purple-900: #4A148C;
  --purple-950: #170034;
  --purple-A-100: #E1BEE7;
  --purple-A-200: #CE93D8;
  --purple-A-400: #BA68C8;
  --purple-A-700: #AB47BC;

  --green-50: #F1F8E9;
  --green-100: #DCEDC8;
  --green-200: #C5E1A5;
  --green-300: #AED581;
  --green-400: #9CCC65;
  --green-500: #8BC34A;
  --green-600: #7CB342;
  --green-700: #689F38;
  --green-800: #558B2F;
  --green-900: #33691E;
  --green-A-100: #CCFF90;
  --green-A-200: #B2FF59;
  --green-A-400: #76FF03;
  --green-A-700: #64DD17;

  --pink-50: #FCE4EC;
  --pink-100: #F8BBD0;
  --pink-200: #F48FB1;
  --pink-300: #F06292;
  --pink-400: #EC407A;
  --pink-500: #E91E63;
  --pink-600: #D81B60;
  --pink-700: #C2185B;
  --pink-800: #AD1457;
  --pink-900: #880E4F;
  --pink-A-100: #FF80AB;
  --pink-A-200: #FF4081;
  --pink-A-300: #F06292;
  --pink-A-400: #F50057;
  --pink-A-700: #C51162;

  --analogous-2-50: #e6f6e7;
  --analogous-2-100: #c3e8c3;
  --analogous-2-200: #9cd99d;
  --analogous-2-300: #71cb74;
  --analogous-2-400: #4cc055;
  --analogous-2-500: #1eb433;
  --analogous-2-600: #0ea52a;
  --analogous-2-700: #00931d;
  --analogous-2-800: #00820f;
  --analogous-2-900: #006300;

  --triadic-2-50: #e7eaf7;
  --triadic-2-100: #c2c9ea;
  --triadic-2-200: #99a7dd;
  --triadic-2-300: #6f85cf;
  --triadic-2-400: #4d6ac5;
  --triadic-2-500: #2450bb;
  --triadic-2-600: #1d48b1;
  --triadic-2-700: #0e3ea5;
  --triadic-2-800: #003499;
  --triadic-2-900: #002285;
}